<div class="w-full overflow-x-auto">
  <div class="min-w-[800px]">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
        <th>Actions</th>
          <th>Title</th>
          <th>Description</th>
        
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
        <tr class="bg-base-200">
          <th><%= article.id %></th>
          <td><%= article.title %></td>
          <td><%= article.description %></td>  
          <td>
          <%= button_to "Eliminar", article_path(article), 
              method: :delete, 
              data: { confirm: "¿Estás seguro?" },
              form: { data: { turbo: true } }, 
              class: "text-red-600 hover:underline bg-transparent border-none p-0" %>
        </td>
        
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
