<div class="bg-white md:py-8 px-4 lg:max-w-7xl lg:mx-auto lg:px-8 fixed top-30">
    <p class="text-4xl font-bold text-gray-800 mb-8">March 2021</p>
    <div class="inline-flex flex-col space-y-1 items-start justify-start h-full w-full">
    <div class="inline-flex space-x-28 items-start justify-start pr-24 h-full w-full">
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">M</p>
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">T</p>
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">W</p>
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">T</p>
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">F</p>
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">S</p>
        <p class="w-12 h-full text-sm font-medium text-gray-800 uppercase">S</p>
    </div>
    <div class="flex flex-col items-start justify-start">
        <div class="inline-flex items-center justify-start h-full w-full">
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">01</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">02</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">03</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">04</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">05</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">06</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">07</p>
            </div>
        </div>
        <div class="inline-flex items-center justify-start w-full h-full">
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">08</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">09</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">10</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">11</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">12</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">13</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">14</p>
            </div>
        </div>
        <div class="inline-flex items-center justify-start w-full h-full">
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">15</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">16</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">17</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">18</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">19</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">20</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">21</p>
            </div>
        </div>
        <div class="inline-flex items-center justify-start h-full w-full">
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">22</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">23</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">24</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">25</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">26</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">27</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">28</p>
            </div>
        </div>
        <div class="inline-flex items-center justify-start w-full h-full">
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">29</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">30</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="text-sm font-medium text-gray-800">31</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="opacity-50 text-sm font-medium text-gray-800">01</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="opacity-50 text-sm font-medium text-gray-800">02</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="opacity-50 text-sm font-medium text-gray-800">03</p>
            </div>
            <div class="flex items-start justify-start w-40 h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200">
                <p class="opacity-50 text-sm font-medium text-gray-800">04</p>
            </div>
        </div>
    </div>
</div>
</div>


<div class="w-full h-screen flex items-center p-8">
<ul id="hs-basic-usage-example-sortable" class="max-w-xs flex flex-col">
  <li class="inline-flex items-center gap-x-3 py-3 px-4 cursor-grab text-sm font-medium bg-white border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg">
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path>
      <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path>
    </svg>
    Newsletter
    <svg class="shrink-0 size-4 ms-auto text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="9" cy="12" r="1"></circle>
      <circle cx="9" cy="5" r="1"></circle>
      <circle cx="9" cy="19" r="1"></circle>
      <circle cx="15" cy="12" r="1"></circle>
      <circle cx="15" cy="5" r="1"></circle>
      <circle cx="15" cy="19" r="1"></circle>
    </svg>
  </li>
  <li class="inline-flex items-center gap-x-3 py-3 px-4 cursor-grab text-sm font-medium bg-white border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg">
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"></path>
      <path d="M12 12v9"></path>
      <path d="m8 17 4 4 4-4"></path>
    </svg>
    Downloads
    <svg class="shrink-0 size-4 ms-auto text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="9" cy="12" r="1"></circle>
      <circle cx="9" cy="5" r="1"></circle>
      <circle cx="9" cy="19" r="1"></circle>
      <circle cx="15" cy="12" r="1"></circle>
      <circle cx="15" cy="5" r="1"></circle>
      <circle cx="15" cy="19" r="1"></circle>
    </svg>
  </li>
  <li class="inline-flex items-center gap-x-3 py-3 px-4 cursor-grab text-sm font-medium bg-white border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg">
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
    </svg>
    Team Account
    <svg class="shrink-0 size-4 ms-auto text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="9" cy="12" r="1"></circle>
      <circle cx="9" cy="5" r="1"></circle>
      <circle cx="9" cy="19" r="1"></circle>
      <circle cx="15" cy="12" r="1"></circle>
      <circle cx="15" cy="5" r="1"></circle>
      <circle cx="15" cy="19" r="1"></circle>
    </svg>
  </li>
</ul>

<ul class="list bg-base-100 rounded-box shadow-md w-full ">
  
<li class="list-row flex justify-between items-center p-4">
<div>
  <div>Dio Lupa</div>
  <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
</div>

<div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
  <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
  <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
</div>
</li>


<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>




<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>




<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>





<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>


</ul>

</div>
<div class="w-full h-screen bg-blue-300">

ffff
</div>



















<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
   
</div>
<div class="grid grid-cols-2 gap-4 min-h-screen p-8 bg-[#1C1C1C]">
<div class="h-40 rounded-2xl bg-[#3C3B6E]"></div> <!-- Royal Indigo -->
<div class="h-40 rounded-2xl bg-[#4B3869]"></div> <!-- Velvet Plum -->
<div class="h-40 rounded-2xl bg-[#2E2D88]"></div> <!-- Imperial Indigo -->
<div class="h-40 rounded-2xl bg-[#1F1D4A]"></div> <!-- Midnight Indigo -->
</div>


<div class="size-16 bg-red-500">


<svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#1f1f1f"><path d="M480-80 373-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H587L480-80Zm0-144 64-96h256v-480H160v480h256l64 96Zm0-336Z"/></svg>
</div>


<div class="relative flex items-center rotate-10 ">
<div class="relative flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M480-80 373-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H587L480-80Zm0-144 64-96h256v-480H160v480h256l64 96Zm0-336Z"/></svg>
</div>

</div>


<div class="grid grid-cols-2 gap-4 min-h-screen p-8 bg-[#1C1C1C]">
<div class="h-40 rounded-2xl bg-[#3C3B6E]"></div> <!-- Royal Indigo -->
<div class="h-40 rounded-2xl bg-[#4B3869]"></div> <!-- Velvet Plum -->
<div class="h-40 rounded-2xl bg-[#2E2D88]"></div> <!-- Imperial Indigo -->
<div class="h-40 rounded-2xl bg-[#1F1D4A]"></div> <!-- Midnight Indigo -->
<div class="h-40 rounded-2xl bg-[#9D8DFF]"></div> <!-- Lavender Indigo -->
<div class="h-40 rounded-2xl bg-[#B8AEE0]"></div> <!-- Silken Periwinkle -->
</div>


<div class="mt-12">
  <div role="status" class="bg-white rounded-lg shadow-md p-6 space-y-6 divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-800">
    <div class="flex items-center justify-between">
      <div>
        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
        <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
      </div>
      <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
    </div>
    
    <div class="flex items-center justify-between pt-4">
      <div>
        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
        <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
      </div>
      <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
    </div>
    
    <div class="flex items-center justify-between pt-4">
      <div>
        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
        <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
      </div>
      <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
    </div>
    
    <div class="flex items-center justify-between pt-4">
      <div>
        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
        <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
      </div>
      <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
    </div>
    
    <div class="flex items-center justify-between pt-4">
      <div>
        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
        <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
      </div>
      <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
    </div>
    
    <span class="sr-only">Cargando...</span>
  </div>
</div>





