




<ul class="list bg-base-100 rounded-box shadow-md">
  
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Most played songs this week</li>
  
  <li class="list-row">
    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp"/></div>
    <div>
      <div>Dio Lupa</div>
      <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
    </div>
    <div class="relative w-8 h-8 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked="checked" class="checkbox checkbox-sm bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left- w-8 h-8 border-8 border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
  
  </li>
  
  <li class="list-row">
    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/4@94.webp"/></div>
    <div>
      <div>Ellie Beilish</div>
      <div class="text-xs uppercase font-semibold opacity-60">Bears of a fever</div>
    </div>
 
<div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
<input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
<div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
</div>


  </li>
  
  <li class="list-row">
    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/></div>
    <div>
      <div>Sabrino Gardener</div>
      <div class="text-xs uppercase font-semibold opacity-60">Cappuccino</div>
    </div>
 
<div class="relative w-12 h-12 bg-[#ddeb82] rounded-full flex items-center justify-center">
<input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
<div class="absolute top-0 left-0 w-12 h-12 border-[10px] border-[#ddeb82] rounded-full pointer-events-none"></div>
</div>
    
  </li>
  
</ul>
