<div class="w-full h-screen bg-blue-300 flex items-center p-8">


<ul class="list bg-base-100 rounded-box shadow-md w-full ">
  
<li class="list-row flex justify-between items-center p-4">
<div>
  <div>Dio Lupa</div>
  <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
</div>

<div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
  <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
  <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
</div>
</li>


<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>




<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>




<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>





<li class="list-row flex justify-between items-center p-4">
  <div>
    <div>Dio Lupa</div>
    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
  </div>

  <div class="relative w-10 h-10 bg-[#ddeb82] rounded-full flex items-center justify-center">
    <input type="checkbox" checked class="checkbox checkbox-xl bg-[#ddeb82] appearance-none focus:outline-none hover:cursor-pointer border-none" />
    <div class="absolute top-0 left-0 w-10 h-10 border-[8px] border-[#ddeb82] rounded-full pointer-events-none"></div>
  </div>
</li>


</ul>

</div>
<div class="w-full h-screen bg-blue-300">

ffff
</div>


