<div class="w-40 h-screen bg-yellow-400" data-controller="dashboard">
 
<div class="w-50 h-12 bg-yellow-400" 
       data-action="click->dashboard#toggleWidth">
    dashboard
    </div>


</div>
