
<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer-4" class="drawer-button btn btn-primary">Open drawer</label>
  </div>

  <div role="alert" class="alert alert-success">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Your purchase has been confirmed!</span>
</div>

<div class="relative w-16 h-16 bg-green-400 rounded-full flex items-center justify-center">
  <input type="checkbox" checked="checked" class="checkbox checkbox-xl bg-green-400 appearance-none focus:outline-none hover:cursor-pointer border-none" />
  <div class="absolute top-0 left-0 w-16 h-16 border-20 border-green-400 rounded-full pointer-events-none"></div>
</div>




  <div class="drawer-side">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay bg-transparent"></label>
    <ul class="menu text-base-content min-h-full w-80 p-4">
    
    
      


    <div class="overflow-y-auto flex flex-col h-full">
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
</div>
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
</div>
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi.</div>
</div>
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-neutral">It's insulting!</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-error">It's never happened before.</div>
</div>
<div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
</div>
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
</div>
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi.</div>
</div>
<div class="chat chat-start">
<div class="chat-bubble chat-bubble-neutral">It's insulting!</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
</div>
<div class="chat chat-end">
<div class="chat-bubble chat-bubble-error">It's never happened before.</div>
</div>
</div>
      
      </li>
    </ul>
  </div>
</div>



















<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle bg-white" />
  <div class="drawer-conten bg-white">
    <!-- Page content here -->
    <label for="my-drawer-4" class="drawer-button btn btn-primary">Open drawer</label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
    <div class="overflow-y-auto flex flex-col h-full">
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
    </div>
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
    </div>
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi.</div>
    </div>
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-neutral">It's insulting!</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
    </div>
    <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
    </div>
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
    </div>
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi.</div>
    </div>
    <div class="chat chat-start">
    <div class="chat-bubble chat-bubble-neutral">It's insulting!</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
    </div>
    <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
    </div>
    </div>
    </ul>
  </div>
</div>



