




<nav class="bg-pink-400 dark:bg-gray-900  w-full h-16 z-20 top-0 right-0  border-b border-gray-200 dark:border-gray-600">
<div class="navbar bg-base-300 flex justify-between ">
 <div class="flex items-center "> 
 <button class="font-black text-xl">KEVIN ALPIZAR</button>
 
 
 </div>


 <div class="">
 <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Signup</button>
<div class="avatar avatar-online avatar-placeholder ml-4">
 <div class="bg-neutral text-neutral-content w-12 h-12 rounded-full mr-2">
  <span class="text-xl">AI</span>
 </div>
</div>
</div>
</div>



</nav>

<!-- component -->

